<br>
<div class="page_header_joint page_header2">
  Log in
</div>
<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="align_job">
  <%= f.label :usertype, "Email: ", :class => "labelStyle" %>
  <%= f.email_field :email, :class => "fieldStyle", autofocus: true %><br>

  <%= f.label :usertype, "Password: ", :class => "labelStyle" %>
  <%= f.password_field :password, :class => "fieldStyle", autocomplete: "off" %><br>

  <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me, :class => "fieldStyle" %>
      <%= f.label :remember_me, :class => "labelStyle" %>
  <% end -%>

  <br>

  <%= f.submit "Login", :class => "buttonJobSave_joint buttonJobSave1" %>

</div>
<% end %>

<br>
<div class="links1">
  <span class="links2">
  Forgot your password?
  <%= render "devise/shared/links" %>
  </span>
</div>
