<br>
<div class="page_header_joint page_header2">
  Create a New Post
</div>
<br>

<div class="align_job3">

  <%= form_for @post, url: posts_path, html: { multipart: true } do |post| %>

    <%= label_tag "title", "Post Title: ", :class => "labelStyle2" %>
    <%= post.text_field :title, placeholder: "Title", :autofocus=>true, :class => "fieldStyle4" %><br>

    <%= label_tag "post", "Post Description: ", :class => "labelStyle" %>
    <%= post.text_area :post, placeholder: "Description", :class => "fieldStyle5" %><br>

    <%= label_tag "post_image_file_name", "Attach Image: ", :class => "labelStyle" %>
    <%= post.file_field :post_image_file_name, placeholder: "Image", :class => "fieldStyle4" %><br>


    <%= post.submit "Save", :class => "buttonJobSave_joint buttonJobSave2" %>

  <% end %>

</div>

<%= link_to 'Back', posts_path %>
